{% extends 'base.html' %}
{% load current from navigation %}
{% block title %}{% if user.is_staff %}Admin &gt; {% endif %}{{ block.super }}{% endblock %}
{% block bodyid %}{% if user.is_staff %}admin{% else %}{{ block.super }}{% endif %}{% endblock %}
{% block sidebar %}
{% if user.is_staff %}
				<div class="span3" id="sidebar">
					<div class="well sidebar-nav">
						<ul class="nav nav-list">
							<li class="nav-header">Tournaments</li>
							<li class="{% current 'tournament_list' %}"><a href="{% url 'tournament_list' %}">Manage tournaments</a></li>
							<li class="{% current 'tournament_add' %}"><a href="{% url 'tournament_add' %}">New tournament</a></li>
							<li class="nav-header">Users</li>
							<li class="{% current 'user_list' %}"><a href="{% url 'user_list' %}">Manage users</a></li>
							<li class="{% current 'user_add' %}"><a href="{% url 'user_add' %}">New user</a></li>
							<li class="nav-header">Teams</li>
							<li class="{% current 'team_list' %}"><a href="{% url 'team_list' %}">Manage teams</a></li>
							<li class="{% current 'team_add' %}"><a href="{% url 'team_add' %}">New team</a></li>
							<li class="nav-header">Configs</li>
							<li class="{% current 'config_list' %}"><a href="{% url 'config_list' %}">Manage configs</a></li>
							<li class="{% current 'config_add' %}"><a href="{% url 'config_add' %}">New config</a></li>
							<li class="nav-header">Maps</li>
							<li class="{% current 'map_list' %}"><a href="{% url 'map_list' %}">Manage maps</a></li>
							<li class="{% current 'map_add' %}"><a href="{% url 'map_add' %}">New map</a></li>
							<li class="nav-header">Rules</li>
							<li class="{% current 'rules_list' %}"><a href="{% url 'rules_list' %}">Manage rules</a></li>
							<li class="{% current 'rules_add' %}"><a href="{% url 'rules_add' %}">New rules page</a></li>
							<li class="nav-header">Medals</li>
							<li class="{% current 'medal_overrides' %}"><a href="{% url 'medal_overrides' %}">Medal overrides</a></li>
						</ul>
					</div><!--/.well -->
				</div><!--/span-->
{% else %}
{{ block.super }}
{% endif %}
{% endblock %}