{% load compress %}
{% load static %}
{% load current from navigation %}
{% load googleanalyticsjs from analytics %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{% block title %}Ready Steady Pan TF2 Tournament{% endblock %}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="wot-verification" content="d121ae14642357f10efd"/>
		<meta name="google-site-verification" content="Gc1eeO7Kzbmn-M7GdaHYtL6UflMYswaM_ppjFRiK6X0" />
		<meta name="description" content="Ready Steady Pan Tournament">
		<meta name="author" content="Ready Steady Pan Team">

		{% compress css %}
		<link href="{{ STATIC_URL }}rsp/css/bootstrap.css" rel="stylesheet">
		<link href="{{ STATIC_URL }}rsp/css/datepicker.css" rel="stylesheet">
		<link href="{{ STATIC_URL }}rsp/css/rsp.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="{% static 'autocomplete_light/style.css' %}" />
		<link href="{{ STATIC_URL }}rsp/css/bootstrap-responsive.css" rel="stylesheet">
		{% endcompress %}

		<link rel="shortcut icon" href="{{ STATIC_URL}}rsp/img/panicon.ico?1" />

		<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
	</head>

	<body id="{% block bodyid %}default{% endblock %}">
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container-fluid">
					<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</a>
					<a class="brand" href="{% url 'home' %}" title="Ready Steady Pan"></a>
					<div class="nav-collapse collapse">
						{% if user.is_authenticated %}
						<ul class="nav pull-right">
							<div class="navbar-form pull-left">
								<input type="text" name="q" class="search-query" id="navigation_autocomplete" autofocus>
							</div>
							<li class="dropdown">
								<a class="dropdown-toggle" data-toggle="dropdown" href="#">
									<img class="avatar-small" src="{{ user.avatar }}"> {{ user }}
								</a>
								<ul class="dropdown-menu">
									{% if user.is_staff %}<li><a>The bigwig.</a></li>
									<li class="divider"></li>{% endif %}
									{% if user.team %}<li><a href="{{ user.team.get_absolute_url }}">Your Team</a></li>{% endif %}
									{% if user.email %}{% if user.wants_emails %}<li><a href="{% url 'unsubscribe' %}">Disable mailing</a></li>{% else %}<li><a href="{% url 'subscribe' %}">Enable mailing</a></li>{% endif %}{% endif %}
									<li><a href="{{ user.get_absolute_url }}">RSP Profile</a></li>
									<li><a href="{{ user.profile_url }}">Steam Profile</a></li>
									<li><a href="{% url 'signout' %}">Sign Out</a></li>
								</ul>
							</li>
						</ul>
						{% else %}
						<ul class="nav pull-right">
							<li>
								<a href="{% url 'signin' %}?next={{ request.path_info }}"><img id="openid" src="{{ STATIC_URL }}rsp/img/steamopenid.png" alt="Sign in through Steam"></a>
							</li>
						</div>
						{% endif %}
						<ul class="nav">
							{% if user.is_staff %}
							<li class="{% current 'home' %}"><a href="{% url 'home' %}">Admin Home</a></li>
							<li class="{% current 'user_home' %}"><a href="{% url 'user_home' %}">Home</a></li>
							{% else %}
							<li class="{% current 'home' %}"><a href="{% url 'home' %}">Home</a></li>
							{% endif %}
							<li class="{% current 'about' %}"><a href="{% url 'about' %}">About</a></li>
							<li class="{% current 'rules_details' slug='rsp-s02' %}"><a href="{% url 'rules_details' slug='rsp-s02' %}">Rules</a></li>
							<li class="{% current 'match_cast_list' %}"><a href="{% url 'match_cast_list' %}">Casts</a></li>
						</ul>
					</div><!--/.nav-collapse -->
				</div>
			</div>
		</div>

		<div class="container-fluid">
			<div class="row-fluid">
				{% block sidebar %}
				{% if user.is_authenticated %}
				<div class="span3" id="sidebar">

				{% with team=user.get_team %}
					<div class="well sidebar-nav">
						{% if team %}
						<ul class="nav nav-list">
							<li class="nav-header"><a href="{{ team.get_absolute_url }}">{{ team }}</a></li>
						{% load round_name from tournament_utils %}
							{% with tt=team.get_tt %}
							{% if tt %}
							<li>Participating in {{ tt.tournament }}{% if tt.is_suspended %} <span class="label label-important">Team suspended</span>{% endif %}</li>
							{% if not tt.is_ready %}<li class="active"><a href="{% url 'ready_up' tt.tournament.slug %}">Ready up! <span class="badge badge-warning pull-right">Just click here!</span></a></li>{% endif %}
							<li class="nav-header">Results</li>
							{% for result in tt.results.all %}
							<li><a href="{{ result.match.get_absolute_url }}"><span class="badge {{ result.is_win|yesno:"badge-success,badge-important,badge-none"}}">{{ result.is_win|yesno:"W,L,?"}}</span> {% round_name result.match.round tt.tournament %}{% if result.match.status != result.match.STATUS_BYE %} versus {{ result.opponent }}{% endif %} <span class="label">{{ result.match.get_status_display }}</span></a></li>
							{% endfor %}
							{% else %}
							<li>Not participating in any tournament</li>
							{% endif %}
							{% endwith %}
						</ul>
						{% else %}
						<ul class="nav nav-list">
							<li>You are not a leader of any team. Sorry, only team leaders get access to more information regarding their teams on our site.</li>
						</ul>
						{% endif %}
					</div>
				{% endwith %}
				</div><!--/span-->
				{% else %}
				<div class="span3" id="sidebar">
					<div class="well sidebar-nav">
						<ul class="nav nav-list">
							<li class="nav-header">Community</li>
							<li><a href="http://steamcommunity.com/groups/readysteadypan">Steam Group</a></li>
						</ul>
					</div><!--/.well -->
				</div><!--/span-->
				{% endif %}
				{% endblock %}

				{% if messages|length %}
				<div class="span9" id="messages">
				{% for message in messages %}
					<div id="message-{{ message.pk }}" {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>
						<button class="message-close close" data-href="{% if message.is_persistent %}{% url 'message_mark_read' message.pk %}{% else %}#{% endif %}">&times;</button>
						{% if message.subject %}<strong>{{ message.subject }}</strong> {% endif %}{{ message.message|safe }}
					</div>
				{% endfor %}
					{% if messages|length > 1 %}
					<a class="message-close-all btn pull-right" href="{% url 'message_mark_all_read' %}"><span>close all</span></a>
					{% endif %}
				</div>
				{% endif %}
				{% if request.breadcrumbs|length > 1 %}
				<ul class="breadcrumb span9">
				{% for breadcrumb in request.breadcrumbs %}
					{% if not forloop.last %}
					{% if breadcrumb.url %}<li><a href="{{ breadcrumb.url }}">{{ breadcrumb.name }}</a>{% else %}<li class="active">{{ breadcrumb.name }}{% endif %} <span class="divider">/</span></li>
					{% else %}
					<li class="active">{{ breadcrumb.name }}</li>
					{% endif %}
				{% endfor %}
				</ul>
				{% endif %}
				{% block content %}
				{% endblock %}
			</div><!--/row-->

			<div id="indicator" class="hide"><i class="icon-refresh"></i> Loading</div>
			<div id="response_modal" class="modal hide fade"></div>

			<hr>

			<footer>

				<p class="pull-right">
					<i class="icon-time"></i> {% now 'd M Y H:i O \G\M\T' %}<br>
					<span class="pull-right"><a href="{% url 'issues' %}">Report an issue</a> / <a href="{% url 'privacy' %}">Privacy Policy</a></span><br>
					<span class="pull-right">&#64;{{ GIT_REVISION|slice:'7' }}</span>
				</p>
				<p>
					&copy; <a href="{% url 'staff' %}">Ready Steady Pan Team</a> 2012-2013<br>
					Powered by <a href="http://steampowered.com">Steam</a> Web API. Designed with <a href="http://twitter.github.com/bootstrap">Bootstrap</a>.
				</p>
			</footer>

		</div><!--/.fluid-container-->

		{% compress js %}
		<script src="{{ STATIC_URL }}rsp/js/jquery.js"></script>
		<script src="{{ STATIC_URL }}rsp/js/bootstrap-transition.js"></script>
		<script src="{{ STATIC_URL }}rsp/js/bootstrap-alert.js"></script>
		<script src="{{ STATIC_URL }}rsp/js/bootstrap-modal.js"></script>
		<script src="{{ STATIC_URL }}rsp/js/bootstrap-dropdown.js"></script>
		<script src="{{ STATIC_URL }}rsp/js/bootstrap-collapse.js"></script>
		<script src="{{ STATIC_URL }}rsp/js/bootstrap-tooltip.js"></script>
		<script src="{{ STATIC_URL }}rsp/js/bootstrap-popover.js"></script>
		<script src="{{ STATIC_URL }}rsp/js/bootstrap-button.js"></script>
		<script src="{{ STATIC_URL }}rsp/js/bootstrap-datepicker.js"></script>
		{% include 'autocomplete_light/_ajax_csrf.html' %}
		<script type="text/javascript" src="{% static 'autocomplete_light/autocomplete.js' %}"></script>
		<script type="text/javascript" src="{% static 'autocomplete_light/widget.js' %}"></script>
		<script type="text/javascript" src="{% static 'autocomplete_light/addanother.js' %}"></script>
		<script type="text/javascript" src="{% static 'autocomplete_light/text_widget.js' %}"></script>
		<script type="text/javascript" src="{% static 'autocomplete_light/remote.js' %}"></script>
		<script src="{{ STATIC_URL }}rsp/js/rsp.js"></script>
		{% endcompress %}
		{% googleanalyticsjs %}
		{% block extra_js %}{% endblock %}
	</body>
</html>