{% extends 'base.html' %}
{% block title %}About &gt; {{ block.super }}{% endblock %}
{% block content %}
				<div class="span9">
					<div style="text-align:center;"><img src="{{ STATIC_URL }}rsp/img/panbout.png"></div>
					<h1>What is it?!</h1>
					<div class="row-fluid">

					<div class="span1 pull-right"></div>
					<blockquote class="span9 pull-right">
						Six players, six pans, and various food items. Mix. You've got the recipe for competition in this new Ready Steady Pan tournament. There are some ground rules in addition to pans but you probably stopped reading at "pan" and started organizing your teams.
						 <small><a href="http://www.teamfortress.com/post.php?id=8021">Valve on <cite title="Ready Steady Pan">Ready Steady Pan</cite></a></small>
					</blockquote>
					</div>
					<p>Ready Steady Pan is a tournament for Team Fortress 2, a tournament that involves two teams of six battling it out, using only their trusty frying pans.</p>

					<h3>How does the tournament work?</h3>
					<p>The tournament uses the 6vs6 format with only pans and food items as weapons.</p>
					<p>This is a <a href="http://en.wikipedia.org/wiki/Ladder_tournament">ladder tournament</a> consisting of as many teams as we can include. After 9 weeks of matches, the top 8 teams of each regional ladder go into an elimination tournament to decide the masterest of master chefs for this season.</p>

					<h3>How do I sign up?</h3>
					<p>Signups are currently closed for this season, but we will continue to run tournaments in the future if there’s sufficient interest.</p>

					<h3>Who runs this tournament?</h3>
					<p>Administrators change every season, for a multitude of reasons. The administrators and helpers can either be found through the official Steam Group or through the “Staff” page for the respective tournament.

					<p><a href="{% url 'rules_details' slug='rsp-s02' %}">More info about the rules</a></p>
					<p>
						<a href="{% url 'tl-dr' %}">TL;DR</a>:
								TWANG!
										TWANG!
												CLANG!
														CLANG!
																CLONK!
					</p>
				</div><!--/span-->
{% endblock %}