{% extends 'base_admin.html' %}
{% load round_name from tournament_utils %}
{% block content %}
				<div class="span9">
					{% for tournament in tournaments %}
					{% if forloop.counter|add:"2"|divisibleby:"3" %}<div class="row-fluid">{% endif %}
						<div class="span4">
							<h2><a href="{{ tournament.get_absolute_url }}">{{ tournament.short_name|default:tournament }}</a></h2>
							{% with round=tournament.current_round %}
							<dl class="dl-horizontal">
								<dt>{% round_name round tournament %}</dt>
								<dd>&nbsp;</dd>
								<dt><a href="{% url 'match_list' tournament.slug round.number %}">Scheduled matches</a></dt>
								<dd>{{ round.matches.count }}</dd>
								<dt><a href="{% url 'match_list_contested' tournament.slug round.number %}">Contested reports</a></dt>
								{% with count=round.report_contested_count %}
								<dd><span class="badge badge-{{ count|yesno:"important,none,none" }}">{{ count|default:"0" }}</span></dd>
								{% endwith %}
								<dt>Reported</dt>
								<dd>{{ round.report_reported_count|default:"0" }}</dd>
								<dt>Accepted</dt>
								<dd>{{ round.report_accepted_count|default:"0" }}</dd>
							</dl>
							{% endwith %}
							{% with round=tournament.previous_round %}
							<dl class="dl-horizontal">
								<dt>{% round_name round tournament %}</dt>
								<dd>&nbsp;</dd>
								<dt><a href="{% url 'match_list' tournament.slug round.number %}">Scheduled matches</a></dt>
								<dd>{{ round.matches.count }}</dd>
								<dt><a href="{% url 'match_list_contested' tournament.slug round.number %}">Contested reports</a></dt>
								{% with count=round.report_contested_count %}
								<dd><span class="badge badge-{{ count|yesno:"important,none,none" }}">{{ count|default:"0" }}</span></dd>
								{% endwith %}
								<dt>Reported</dt>
								<dd>{{ round.report_reported_count|default:"0" }}</dd>
								<dt>Accepted</dt>
								<dd>{{ round.report_accepted_count|default:"0" }}</dd>
							</dl>
							{% endwith %}
						</div>
					{% if forloop.counter|divisibleby:"3" or forloop.last %}</div><!--/row-->{% endif %}
					{% endfor %}
				</div><!--/span-->
{% endblock %}