{% extends 'base_admin.html' %}
{% block title %}Configs &gt; {{ block.super }}{% endblock %}
{% block bodyid %}config-list{% endblock %}
{% block content %}
				<div class="span9">
					<table class="table table-bordered">
						<thead>
							<tr>
								<th>Config name</th>
								<th>File</th>
								<th>Changed</th>
							</tr>
						</thead>
						<tbody>
							{% for config in configs %}
							<tr>
								<td><a href="{{ config.get_absolute_url }}">{{ config.name }}</a></td>
								<td><a href="{{ config.config_file.url }}">{{ config.config_file }}</a></td>
								<td rel="tooltip" title="{{ config.modified_at|date:'d M Y H:i' }}">{{ config.modified_at|timesince }} ago</td>
							</tr>
							{% empty %}
							<tr>
								<td colspan="3">No configs found!</td>
							</tr>
							{% endfor %}
					</table>
				</div><!--/span-->
{% endblock %}