{% extends 'base.html' %}
{% load tournament_utils %}
{% block bodyid %}home{% endblock %}
{% block content %}
				<div class="span9">
					<div class="our-hero-unit">
						<img src="{{ STATIC_URL }}rsp/img/splashes/koth_pro_viaduct_rc3.jpg">
						<div class="caption">
							<h4>Season 2 is over. Medals coming soon!</h4>
							<p></p>
						</div>
					</div>
					<div class="row-fluid">
						{% for tournament in featured_tournaments %}
						<div class="span4">
							<h2><a href="{{ tournament.get_absolute_url }}">{{ tournament.short_name|default:tournament }}</a></h2>
							<p>
							{% if tournament.has_started %}
							{% with current_round=tournament.current_round %}
							{% if current_round %}{% round_name current_round tournament %} ({% if current_round.has_started %}<strong>{{ current_round.ends_at|timeuntil }}</strong> remaining{% else %}<strong>{{ current_round.starts_at|timeuntil }}</strong> to start{% endif %}){% else %}No round is currently played.{% endif %}
							{% endwith %}
							{% else %}
							Starts in <strong>{{ tournament.starts_at|timeuntil }}</strong>
							{% endif %}<br>
							{% with count=tournament.active_tts_count %}
							<strong>{{ count }}</strong> team{{ count|pluralize }} participating
							{% endwith %}
							</p>
						</div><!--/span-->
						{% endfor %}
					</div><!--/row-->
				</div><!--/span-->
{% endblock %}