{% extends 'base.html' %}
{% block title %}Issues &gt; {{ block.super }}{% endblock %}
{% block content %}
				<div class="span9">
					<h1>Issues</h1>
					<p>In case of any problems occuring while using our website, please report them using <a href="https://bitbucket.org/chaosk/rsp/issues">this issue tracker</a>.</p>

					<h3>Please include information that will let us contact you.</h3>
					<p>It's quite important to us to keep you informed about progress of your issue report.</p>

				</div><!--/span-->
{% endblock %}