{% extends 'base_admin.html' %}
{% block title %}Maps &gt; {{ block.super }}{% endblock %}
{% block bodyid %}map-list{% endblock %}
{% block content %}
				<div class="span9">
					<table class="table table-bordered">
						<thead>
							<tr>
								<th>Map name</th>
								<th>Config</th>
								<th>File</th>
							</tr>
						</thead>
						<tbody>
							{% for map in maps %}
							<tr>
								<td><a href="{{ map.get_absolute_url }}">{{ map.slug }}</a></td>
								<td><a href="{{ map.config.get_absolute_url }}">{{ map.config }}</a></td>
								<td><a href="{{ map.map_file.url}}">{{ map.map_file }}</a></td>
							</tr>
							{% empty %}
							<tr>
								<td colspan="3">No maps found!</td>
							</tr>
							{% endfor %}
					</table>
				</div><!--/span-->
{% endblock %}