{% extends 'base_admin.html' %}
{% block title %}Matches &gt; {{ block.super }}{% endblock %}
{% block bodyid %}match-list{% endblock %}
{% block content %}
				<div class="span9">
					<table class="table table-bordered">
						<thead>
							<tr>
								<th>Match</th>
								<th colspan="2">Score</th>
								<th>Status</th>
							</tr>
						</thead>
						<tbody>
							{% for result in results %}
							<tr>
								<td><a href="{{ result.match.get_absolute_url }}">{{ result.tt.team }}{% if result.match.status != result.match.STATUS_BYE %} vs {{ result.opponent }}{% else %} (bye){% endif %}</a></td>
								{% if result.match.status == result.match.STATUS_ACCEPTED or result.match.status == result.match.STATUS_RESOLVED %}<td>{{ result.score }}</td><td>{{ result.opponents_score }}</td>{% else %}<td colspan="2">{% if result.match.status == result.match.STATUS_BYE or result.match.status == result.match.STATUS_DEFAULTLOSS %}-{% else %}TBA{% endif %}</td>{% endif %}</td>
								<td>{{ result.match.get_status_display }}</td>
							</tr>
							{% empty %}
							<tr>
								<td colspan="4">No matches found!</td>
							</tr>
							{% endfor %}
					</table>
				</div><!--/span-->
{% endblock %}