{% extends 'tournament/match_details.html' %}
{% load crispy_forms_tags %}
{% block title %}Accept &gt; {{ block.super }}{% endblock %}
{% block content %}
				<div class="span9">
					<form action="" method="POST">{% csrf_token %}
						<div class="well span7 offset2">
							<input type="submit" name="confirmation" value="Accept" class="btn btn-block btn-primary" id="submit-id-confirmation">
							<input type="submit" name="cancel" value="Cancel" class="btn btn-block" id="submit-id-confirmation">
						</div>
					</form>
				</div><!--/span-->
{% endblock %}