{% extends 'tournament/match_details.html' %}
{% block title %}Modify score &gt; {{ block.super }}{% endblock %}
{% load round_name from tournament_utils %}
{% block content %}
				<div class="span9">
					<div class="row-fluid">
						<div class="page-header">
							<h1><a href="{{ result.tt.team.get_absolute_url }}">{{ result.tt.team }}</a>{% if match.status != match.STATUS_BYE %} vs <a href="{{ result.opponent.get_absolute_url }}">{{ result.opponent }}</a>{% else %}, bye{% endif %} <small>on {{ match.round.played_map }}</small></h1>
						</div>
						<dl class="dl-horizontal">
							<dt>Status</dt>
							<dd>{{ match.get_status_display }}</dd>
						</dl>
					</div>
					<form action="{% url 'match_change_score' match.id %}" method="POST">{% csrf_token %}
					<div class="span2">
						<div class="controls controls-row">
							<input class="span6" type="text" rel="tooltip" title="{{ result.tt.team }}'s score" placeholder="{{ result.tt.team }}" name="home_score" value="{% if result.score != None %}{{ result.score }}{% else %}{% if match.report %}{% if match.report.submitted_by == result.tt.team %}{{ match.report.team_score }}{% else %}{{ match.report.opponents_score }}{% endif %}{% endif %}{% endif %}">
							<input class="span6" type="text" rel="tooltip" title="{{ result.opponent }}'s score" placeholder="{{ result.opponent }}" name="away_score" value="{% if result.opponents_score != None %}{{ result.opponents_score }}{% else %}{% if match.report %}{% if match.report.submitted_by == result.opponent %}{{ match.report.team_score }}{% else %}{{ match.report.opponents_score }}{% endif %}{% endif %}{% endif %}">
						</div>
						<input class="span12" type="text" placeholder="Insert notes here" name="notes">
					</div>

					<div class="span2">
						<input type="submit" class="btn btn-info btn-block" rel="tooltip" title="Modifies the report using values provided to the fields to the left" value="Modify" name="modify">
						<div class="well well-small notifybox">
						<label class="checkbox" rel="tooltip" title="If enabled, both leaders will be notified about your actions">
							<input type="checkbox" value="1" name="notify">
							Notify
						</label>
						</div>
					</div>

					<div class="span2">
						<input type="submit" class="btn btn-success btn-block" rel="tooltip" title="Accepts current report" value="Accept" name="accept">
						<input type="submit" class="btn btn-danger btn-block" rel="tooltip" title="Rejects current report" value="Revoke" name="revoke">
					</div>

					<div class="span2">
						<input type="submit" class="btn btn-block" rel="tooltip" title="Home team gets default loss" value="Forfeit home" name="forfeit_home">
						<input type="submit" class="btn btn-block" rel="tooltip" title="Away team gets default loss" value="Forfeit away" name="forfeit_away">
						<input type="submit" class="btn btn-block" rel="tooltip" title="Both teams get default loss" value="Forfeit both" name="forfeit_both">
					</div>
					</form>
				</div>
				<div class="span9">
					{% if match.report %}
					<hr>
					<h2>Match report <small>Submitted by {{ match.report.submitted_by.leader }} ({{ match.report.submitted_by }}), <span rel="tooltip" title="{{ match.report.submitted_at|date:'d M Y H:i' }}">{{ match.report.submitted_at|timesince }} ago</span></small></h2>
					<p><strong>Please note this report is written from POV of submitter.</strong></p>
					<dl class="dl-horizontal">
						<dt>Our score</dt>
						<dd>{{ match.report.team_score }}</dd>
						<dt>Opponent score</dt>
						<dd>{{ match.report.opponents_score }}</dd>
						<dt>Default win?</dt>
						<dd><i class="icon icon-{{ match.report.default_win|yesno:'ok,remove' }}"></i></dd>
						<dt>Players</dt>
						<dd><ul class="inline">{% for player in match.report.players.all %}<li>{{ player }}</li>{% empty %}-{% endfor %}</ul></dd>
						{% if match.report.additional_notes %}
						<dt>Additional notes</dt>
						<dd>{{ match.report.notes }}</dd>
						{% endif %}
						{% if match.report.contestation_notes %}
						<dt>Contestation notes</dt>
						<dd>{{ match.report.contestation_notes }}</dd>
						{% endif %}
					</dl>
					
					{% endif %}
				</div>
{% endblock %}