{% extends 'tournament/tournament_details.html' %}
{% block title %}{{ result.tt.team }}{% if match.status != match.STATUS_BYE %} vs {{ result.opponent }}{% else %}, bye{% endif %} &gt; {{ block.super }}{% endblock %}
{% block bodyid %}match-details{% endblock %}
{% load round_name from tournament_utils %}
{% block content %}
				<div class="span9">
					<div class="row-fluid">
						<div class="page-header">
							<span class="pull-right">{% if request.user.is_authenticated and request.user.is_caster %}<a class="btn" href="{% url 'match_cast_add' match.id %}"><i class="icon-film"></i> Add cast</a> {% endif %}{% if user_is_team_leader %}<a class="btn" href="{% url 'match_demo_add' match.id %}"><i class="icon-facetime-video"></i> Add STV</a> {% endif %}{% if not match.report and match.status != match.STATUS_BYE and match.can_report and user_is_team_leader %}<a href="{% url 'match_report' match.id %}" class="btn">Report match result</a>{% endif %}{% if match.status == match.STATUS_REPORTED and match.can_confirm and user_is_team_leader %}{% if request.user != match.report.submitted_by.leader %}<div class="btn-group"><a href="{% url 'match_report_accept' match.id %}" class="btn btn-success">Accept</a><button class="btn" disabled>Current report</button><a href="{% url 'match_report_contest' match.id %}" class="btn btn-danger">Contest</a></div>{% else %}<button class="btn" disabled>Waiting for confirmation</button>{% endif %}{% if match.status == match.STATUS_CONTESTED %}<button class="btn" disabled>Waiting for staff member to resolve this case</button>{% endif %}{% endif %}{% if request.user.is_authenticated and request.user.is_hero %}<a class="btn" href="{% url 'match_change_score' match.id %}">Modify score</a>{% endif %}</span>
							<h1><a href="{{ result.tt.team.get_absolute_url }}">{{ result.tt.team }}</a>{% if match.status != match.STATUS_BYE %} vs <a href="{{ result.opponent.get_absolute_url }}">{{ result.opponent }}</a>{% else %}, bye{% endif %} <small>on {{ match.round.played_map }}</small></h1>
						</div>
						<dl class="dl-horizontal">
							<dt>Home team</dt>
							<dd>{{ result.tt.team }}</dd>
							<dt>Status</dt>
							<dd>{{ match.get_status_display }}</dd>
							{% if match.status == match.STATUS_REPORTED %}
							<dt>Confirmation deadline</dt>
							<dd>{{ match.confirmation_ends_at|date:'d M Y H:i' }}</dd>
							{% endif %}
						</dl>
					</div>
					{% if match.admin_changes.exists %}
					<div class="span6 pull-right well well-small">
						<h4>Admin changes</h4>
						<ul class="unstyled">
							{% for change in match.admin_changes.all %}
							<li><small>{{ change.action }} ({{ change.notes|default:"No details specified" }}) <span class="muted">{{ change.created_by }}</span></small></li>
							{% endfor %}
						</ul>
					</div>
					{% endif %}
					{% if match.is_accepted %}
					<h2>Final score</h2>
					<dl class="dl-horizontal">
						<dt>{{ result.tt.team }}</dt>
						<dd>{{ result.score }}</dd>
						<dt>{{ result.opponent }}</dt>
						<dd>{{ result.opponents_score }}</dd>
						{% if result.is_defaultwin or result.is_defaultloss %}
						<dt>Default win</dt>
						{% if result.is_defaultwin %}
						<dd>for {{ result.tt.team }}</dd>
						{% else %}
						<dd>for {{ result.opponent }}</dd>
						{% endif %}
						{% else %}
						<dt>Players</dt>
						<dd><ul class="inline">{% for player in match.players.all %}{% if user.is_staff %}<li><a href="{{ player.get_absolute_url }}">{{ player }}</a></li>{% else %}<li>{{ player }}</li>{% endif %}{% empty %}-{% endfor %}</ul></dd>
						{% endif %}
					</dl>
					{% endif %}
					{% if casts %}
					<h3>Casts</h3>
					{% for cast in casts %}
					{% if forloop.counter|add:"3"|divisibleby:"4" %}<ul class="thumbnails">{% endif %}
						<li class="span3">
							<a class="thumbnail" rel="popover" data-toggle="mymodal" data-placement="top" data-title="{{ cast.title }}" data-content="Casted by {{ cast.created_by }}" href="{{ cast.get_absolute_url }}">
								<img src="{{ cast.get_thumbnail }}">
							</a>
						</li>
					{% if forloop.counter|divisibleby:"4" or forloop.last %}</ul>{% endif %}
					{% endfor %}
					{% endif %}
					{% if demos %}
					<h3>STVs</h3>
					{% for demo in demos %}
					<ul class="unstyled">
						<li><a href="{{ demo.demo_file.url }}">{{ demo.filename }}</a> ({{ demo.demo_file.size|filesizeformat }})</li>
					</ul>
					{% endfor %}
					{% endif %}
					{% if match.report %}
					<h3>Match report <small>Submitted by {{ match.report.submitted_by.leader }} ({{ match.report.submitted_by }}), <span rel="tooltip" title="{{ match.report.submitted_at|date:'d M Y H:i' }}">{{ match.report.submitted_at|timesince }} ago</span></small></h3>
					<p><strong>Please note this report is written from POV of submitter.</strong></p>
					<dl class="dl-horizontal">
						<dt>Our score</dt>
						<dd>{{ match.report.team_score }}</dd>
						<dt>Opponent score</dt>
						<dd>{{ match.report.opponents_score }}</dd>
						<dt>Default win?</dt>
						<dd><i class="icon icon-{{ match.report.default_win|yesno:'ok,remove' }}"></i></dd>
						<dt>Players</dt>
						<dd><ul class="inline">{% for player in match.report.players.all %}{% if user.is_staff %}<li><a href="{{ player.get_absolute_url }}">{{ player }}</a></li>{% else %}<li>{{ player }}</li>{% endif %}{% empty %}-{% endfor %}</ul></dd>
						{% if match.report.notes %}
						<dt>Additional notes</dt>
						<dd>{{ match.report.notes|linebreaksbr }}</dd>
						{% endif %}
						{% if match.report.contestation_notes %}
						<dt>Contestation notes</dt>
						<dd>{{ match.report.contestation_notes|linebreaksbr }}</dd>
						{% endif %}
					</dl>
					
					{% endif %}
				</div>
{% endblock %}