{% extends 'tournament/tournament_details.html' %}
{% block title %}{{ result.tt.team }}{% if match.status != match.STATUS_BYE %} vs {{ result.opponent }}{% else %}, bye{% endif %} &gt; {{ block.super }}{% endblock %}
{% block bodyid %}match-details{% endblock %}
{% load round_name from tournament_utils %}
{% block content %}
				<div class="span9">
					<div class="row-fluid">
						<div class="page-header">
							<h1><a href="{{ result.tt.team.get_absolute_url }}">{{ result.tt.team }}</a>{% if match.status != match.STATUS_BYE %} vs <a href="{{ result.opponent.get_absolute_url }}">{{ result.opponent }}</a>{% else %}, bye{% endif %} <small>on {{ match.round.played_map }}, casted by {{ cast.created_by }}</small></h1>
						</div>
					</div>
					<div>
						{{ cast.get_embedly|safe }}
					</div>
				</div>
{% endblock %}