{% extends 'base_admin.html' %}
{% block title %}Matches &gt; {{ block.super }}{% endblock %}
{% block bodyid %}match-list{% endblock %}
{% block content %}
				<div class="span9">
					<table class="table table-bordered">
						<thead>
							<tr>
								<th>Match</th>
								<th>Reported</th>
							</tr>
						</thead>
						<tbody>
							{% for result in results %}
							<tr>
								<td><a href="{{ result.match.get_absolute_url }}">{{ result.tt.team }} vs {{ result.opponent }}</a></td>
								<td rel="tooltip" title="{{ result.match.report.submitted_at|date:'d M Y H:i' }}">{{ result.match.report.submitted_at|timesince }} ago</td>
							</tr>
							{% empty %}
							<tr>
								<td colspan="2">No matches found!</td>
							</tr>
							{% endfor %}
					</table>
				</div><!--/span-->
{% endblock %}