{% extends 'base.html' %}
{% block title %}Casts &gt; {{ block.super }}{% endblock %}
{% block bodyid %}match-cast-list{% endblock %}
{% load pagination_tags %}
{% block content %}
				<div class="span9 page-header">
					<h2>Recently casted matches</h2>
				</div>
				{% autopaginate casts %}
				<div class="span9">
					{% paginate %}
					{% for cast in casts %}
					{% if forloop.counter|add:"3"|divisibleby:"4" %}<ul class="thumbnails">{% endif %}
						<li class="span3">
							<a class="thumbnail" rel="popover" data-toggle="mymodal" data-placement="top" data-title="{{ cast.title }}" data-content="Casted by {{ cast.created_by }}" href="{{ cast.get_absolute_url }}">
								<img src="{{ cast.get_thumbnail }}">
							</a>
						</li>
					{% if forloop.counter|divisibleby:"4" or forloop.last %}</ul>{% endif %}
					{% endfor %}
					{% paginate %}
				</div><!--/span-->
{% endblock %}