{% extends 'base_admin.html' %}
{% block title %}Medal overrides &gt; {{ block.super }}{% endblock %}
{% block content %}
				<div class="span9">
					<table class="table table-bordered">
						<thead>
							<tr>
								<th>Player</th>
								<th>SteamID</th>
								<th>Team</th>
								<th>Matches</th>
								<th>Override</th>
							</tr>
						</thead>

						<tbody>
							{% for player in medals %}
							<tr>
								<td><a href="{{ player.get_absolute_url }}">{{ player }}</a></td>
								<td>{{ player.steamid }}</td>
								<td><a href="{{ player.played_for.get_absolute_url }}">{{ player.played_for }}</a></td>
								<td>{{ player.matches_played }}</td>
								<td>{{ player.get_force_medals_display }} by {{ player.medal_changed_by }} at {{ player.medal_changed_at|date:"d M H:i" }}</td>
							</tr>
							{% empty %}
							<tr>
								<td colspan="6">No overrides found!</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div><!--/span-->
{% endblock %}