{% extends 'base.html' %}
{% block title %}{{ player.nickname }} &gt; Players &gt; {{ block.super }}{% endblock %}
{% block content %}
				<div class="span9">
					<div class="row-fluid">
						<div class="page-header">
							<h1>{{ player.nickname }} <small>{{ player.steamid }}</small></h1>
						</div>
						<dl class="dl-horizontal">
							<dt>Profile URL</dt>
							<dd><a href="{{ player.profile_url }}">{{ player.profile_url }}</a></dd>
							<dt>SteamID64</dt>
							<dd>{{ player.steamid64 }}</dd>
							<dt>SteamID32</dt>
							<dd>{{ player.steamid }}</dd>
						</dl>
					</div>
					<div class="row-fluid">
						<div>
							<h3>Played in games with</h3>
							{% regroup teams by tournament as tournaments %}
							{% for tournament in tournaments %}
							<h5><a href="{% url 'tournament_details' slug=tournament.grouper.slug page='teams' %}">{{ tournament.grouper }}</a></h5>
							<ul>
								{% for tt in tournament.list %}
								<li><a href="{{ tt.team.get_absolute_url }}">{{ tt.team }}</a> ({{ tt.played_matches }} time{{ tt.played_matches|pluralize }})</li>
								{% endfor %}
							</ul>
							{% endfor %}
						</div>
					</div>
				</div><!--/span-->
{% endblock %}