{% extends 'tournament/rules_list.html' %}
{% block title %}{{ rules.name }} &gt; {{ block.super }}{% endblock %}
{% block content %}
				<div class="span9">
					<div class="row-fluid">
						<div class="page-header">
							{% if user.is_staff and user.is_hero %}<span class="pull-right"><a href="{% url 'rules_edit' rules.slug %}" class="btn">Edit rules</a></span>{% endif %}
							<h1>{{ rules.name }}</h1>
						</div>
					</div>
				</div><!--/span-->
				<div class="span9">
					{{ rules.rules_html|safe }}
				</div><!--/span-->
				<span class="pull-right" rel="tooltip" title="{{ rules.modified_at|date:'d M Y H:i' }}">Last modified {{ rules.modified_at|timesince }} ago</span>
{% endblock %}