{% extends 'base_admin.html' %}
{% block title %}Rules &gt; {{ block.super }}{% endblock %}
{% block bodyid %}rules-list{% endblock %}
{% block content %}
				<div class="span9">
					<table class="table table-bordered">
						<thead>
							<tr>
								<th>Name</th>
								<th>Created at</th>
								<th>Modified at</th>
							</tr>
						</thead>
						<tbody>
							{% for rules in rules_list %}
							<tr>
								<td><a href="{{ rules.get_absolute_url }}">{{ rules.name }}</a></td>
								<td rel="tooltip" title="{{ rules.created_at|date:'d M Y H:i' }}">{{ rules.created_at|timesince }} ago</td>
								<td rel="tooltip" title="{{ rules.modified_at|date:'d M Y H:i' }}">{{ rules.modified_at|timesince }} ago</td>
							</tr>
							{% empty %}
							<tr>
								<td colspan="3">No rules found!</td>
							</tr>
							{% endfor %}
					</table>
				</div><!--/span-->
{% endblock %}