{% extends 'base.html' %}
{% block title %}Who runs RSP &gt; {{ block.super }}{% endblock %}
{% block content %}
				<div class="span9">
					{% for user in staff %}
					{% if forloop.counter|add:"5"|divisibleby:"6" %}<ul class="thumbnails">{% endif %}
						<li class="span2">
							<a class="thumbnail" rel="popover" data-placement="left" data-title="{{ user }}" data-html="true" data-content="{{ user.description }}" href="{{ user.get_absolute_url }}">
								<img src="{{ user.avatar_full }}">
							</a>
						</li>
					{% if forloop.counter|divisibleby:"6" or forloop.last %}</ul>{% endif %}
					{% endfor %}
				</div><!--/span-->
{% endblock %}