{% extends 'tournament/team_list.html' %}
{% block title %}{{ team }} &gt; {{ block.super }}{% endblock %}
{% load round_name from tournament_utils %}
{% block content %}
				<div class="span9">
					<div class="row-fluid">
						<div class="page-header">
							{% if user.is_staff %}<span class="pull-right"><a href="{% url 'team_edit' team.id %}" class="btn">Edit {% if user == team.leader %}your{% else %}this{% endif %} team</a></span>{% else %}{% if user == team.leader %}<span class="pull-right"><button rel="tooltip" title="If you wish to edit your team details, contact one of the admins through the &quot;Staff&quot; page." class="btn disabled">Edit your team</button></span>{% endif %}{% endif %}
							<h1>{{ team }} <small>{{ team.tag }}</small></h1>
						</div>
						<dl class="dl-horizontal">
							<dt>Leader</dt>
							<dd><a href="{{ team.leader.get_absolute_url }}">{{ team.leader }}</a></dd>
						</dl>
					</div>
					<h4>Tournaments</h4>
					{% for tt in tts %}
					<h5><a href="{% url 'tournament_details' slug=tt.tournament.slug page='teams' %}">{{ tt.tournament }}</a>{% if tt.is_suspended %} <span class="label label-important">Team suspended</span>{% endif %}</h5>
					<table class="table table-bordered">
						<thead>
							<tr>
								<th>Record</th>
								<th>Points</th>
								<th rel="tooltip" title="Match points">MP</th>
								<th rel="tooltip" title="Matches played">M</th>
								<th rel="tooltip" title="Default losses">DL</th>
								<th>Wins</th>
								<th>Loss</th>
								<th rel="tooltip" title="Match points for">Mp+</th>
								<th rel="tooltip" title="Match points against">Mp-</th>
							</tr>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>{{ tt.team }}</td>
								<td><strong>{{ tt.ladder_points }}</strong></td>
								<td>{{ tt.match_points }}</td>
								<td>{{ tt.matches_played }}</td>
								<td>{{ tt.forfeits }}</td>
								<td>{{ tt.ladder_points_won }}</td>
								<td>{{ tt.ladder_points_lost }}</td>
								<td>{{ tt.match_points_won }}</td>
								<td>{{ tt.match_points_lost }}</td>
							</tr>
					</table>
					<table class="table table-bordered">
						<thead>
							<tr>
								<th>Round</th>
								<th>Map</th>
								<th>Opponent</th>
								<th>Result</th>
								<th colspan="2">Score</th>
								<th>Match</th>
							</tr>
						</thead>
						<tbody>
							{% for result in tt.results.all %}
							<tr>
								<td>{% round_name result.match.round tt.tournament %}</td>
								<td>{{ result.match.round.played_map }}</td>
								<td>{% if result.match.status == result.match.STATUS_BYE %}Bye{% else %}<a href="{{ result.opponent.get_absolute_url }}">{{ result.opponent }}</a>{% endif %}</td>
								<td>{% if result.match.status != result.match.STATUS_ACCEPTED and result.match.status != result.match.STATUS_RESOLVED and result.match.status != result.match.STATUS_BYE and result.match.status != result.match.STATUS_DEFAULTLOSS %}-{% else %}{% if result.is_win %}W{% if result.is_defaultwin %} (default){% endif %}{% else %}L{% if result.is_defaultloss %} (default){% endif %}{% endif %}{% endif %}</td>
								{% if result.match.status == result.match.STATUS_ACCEPTED or result.match.status == result.match.STATUS_RESOLVED or result.match.status == result.match.STATUS_DEFAULTLOSS %}
								<td>{{ result.score }}</td>
								<td>{{ result.opponents_score }}</td>
								{% else %}
								<td colspan="2">{% if result.match.status == result.match.STATUS_BYE %}Bye{% else %}TBA{% endif %}</td>
								{% endif %}
								<td><a class="btn btn-mini" href="{{ result.match.get_absolute_url }}">Go to match <i class="icon-share-alt"></i></a></td>
							</tr>
							{% empty %}
							<tr>
								<td colspan="7">No matches found!</td>
							</tr>
							{% endfor %}
					</table>
					{% endfor %}

					<h4>Players</h4>
					<div class="span9">
						<table class="table table-bordered">
							<thead>
								<tr>
									<th>Player</th>
									<th>SteamID</th>
									<th>Matches</th>
									{% if request.user.is_staff %}
									<th>Overrides</th>
									{% endif %}
								</tr>
							</thead>
							<tbody>
								{% for player in players %}
								<tr>
									<td><a href="{{ player.get_absolute_url }}">{{ player }}</a></td>
									<td>{{ player.steamid }}</td>
									<td>{{ player.matches_played }}</td>
									{% if request.user.is_staff %}
									<td>
										<div class="btn-group">
											<a href="{% url 'player_force_medal' player.steamid 'grant' %}" class="btn btn-mini btn-success{% if player.force_medals == True %} active{% endif %}">G</a>
											<a href="{% url 'player_force_medal' player.steamid 'neutral' %}" class="btn btn-mini{% if player.force_medals == None %} active{% endif %}">N</a>
											<a href="{% url 'player_force_medal' player.steamid 'deny' %}" class="btn btn-mini btn-danger{% if player.force_medals == False %} active{% endif %}">D</a>
										</div>
									</td>
									{% endif %}
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
{% endblock %}