{% extends 'base_admin.html' %}
{% block title %}Teams &gt; {{ block.super }}{% endblock %}
{% load pagination_tags %}
{% block bodyid %}team-list{% endblock %}
{% block content %}
	{% autopaginate teams %}
				<div class="span9">
					{% paginate %}
					<table class="table table-bordered">
						<thead>
							<tr>
								<th>Team name</th>
								<th>Tag</th>
								<th>Leader</th>
								<th>Server?</th>
							</tr>
						</thead>
						<tbody>
							{% for team in teams %}
							<tr>
								<td><a href="{{ team.get_absolute_url }}">{{ team.name }}</a></td>
								<td>{{ team.tag }}</td>
								<td><a href="{{ team.leader.get_absolute_url }}">{{ team.leader }}</a></td>
								<td><i class="icon icon-{{ team.has_server|yesno:'ok,remove' }}"></i></td>
							</tr>
							{% empty %}
							<tr>
								<td colspan="4">No teams found!</td>
							</tr>
							{% endfor %}
					</table>
					{% paginate %}
				</div><!--/span-->
{% endblock %}