{% extends 'base.html' %}
{% block title %}Too long; didn't read &gt; {{ block.super }}{% endblock %}
{% block content %}
				<div class="span9">
					<iframe width="853" height="480" src="http://www.youtube.com/embed/5myQ59dO9dg?rel=0&amp;autoplay=1" frameborder="0" allowfullscreen></iframe>
				</div><!--/span-->
{% endblock %}