{% extends 'tournament/tournament_details.html' %}
{% load current from navigation %}
{% block title %}Staff &gt; {{ block.super }}{% endblock %}
{% block tournament_content %}
					{% for s in staff %}
					<div class="media">
						<a class="pull-left" href="{{ s.profile_url }}">
							<img class="media-object" src="{{ s.avatar }}">
						</a>
						<div class="media-body">
							<h4 class="media-heading"><a href="{{ s.get_absolute_url }}">{{ s }}</a> <small>{{ s.get_level_display }}</small> <div class="btn-group"><a class="btn btn-mini" rel="tooltip" title="Requires an open Steam window" href="steam://friends/add/{{ s.steamid }}"><i class="icon-user"></i><i class="icon-plus"></i></a><button class="btn btn-mini btn-{{ s.persona_yesno|yesno:'success,info,none' }}" disabled>{{ s.persona_state_display }}</button>{% if s.persona_game %}<button class="btn btn-mini disabled">{{ s.persona_game }}</button>{% endif %}</div></h4>
						</div>
					</div>
					{% empty %}
					<h4>Welp, nobody is taking care of this tournament!</h4>
					{% endfor %}
{% endblock %}