{% extends 'base_admin.html' %}
{% block title %}Tournaments &gt; {{ block.super }}{% endblock %}
{% block bodyid %}tournament-list{% endblock %}
{% block content %}
				<div class="span9">
					<table class="table table-bordered">
						<thead>
							<tr>
								<th>Tournament name</th>
								<th>Starts at</th>
								<th>Ends at</th>
								<th>State</th>
							</tr>
						</thead>
						<tbody>
							{% for tournament in tournaments %}
							<tr>
								<td><a href="{{ tournament.get_absolute_url }}">{{ tournament.name }}</a></td>
								<td>{{ tournament.starts_at }}</td>
								<td>{{ tournament.ends_at }}</td>
								<td>{{ tournament.get_state_display }}</td>
							</tr>
							{% empty %}
							<tr>
								<td colspan="4">No tournaments found!</td>
							</tr>
							{% endfor %}
					</table>
				</div><!--/span-->
{% endblock %}