{% extends 'tournament/tournament_list.html' %}
{% load current from navigation %}
{% block title %}{{ tournament }} &gt; {{ block.super }}{% endblock %}
{% block bodyid %}tournament-details{% endblock %}
{% block content %}
				<div class="span9">
					<div class="row-fluid">
						<div class="page-header">
							{% if user.is_staff %}<span class="pull-right"><div class="btn-toolbar"><div class="btn-group">{% if user.is_hero %}<a href="{% url 'tournament_edit' tournament.slug %}" class="btn">Edit properties</a><a href="{% url 'tournament_edit_staff' tournament.slug %}" class="btn">Edit staff</a>{% endif %}{% if not tournament.has_started %}<a href="{% url 'tournament_edit_teams' tournament.slug %}" class="btn">Edit teams</a>{% endif %}</div>{% if user.is_hero %}<div class="btn-group"><a class="btn" rel="tooltip" title="Generates pairs for next unscheduled round" href="{% url 'tournament_generate_pairs' tournament.slug %}">Pairs</a><a class="btn" rel="tooltip" title="Does post-round stuff" href="{% url 'tournament_post_round' tournament.slug %}">Post-round</a></div>{% endif %}</div></span>{% endif %}
							<h1>{{ tournament }}</h1>
						</div>
						<dl class="dl-horizontal">
							<dt>Ladder length</dt>
							<dd>{{ tournament.ladder_rounds }} week{{ tournament.ladder_rounds|pluralize }}</dd>
							<dt>Play-offs length</dt>
							<dd>{{ tournament.playoff_rounds }} week{{ tournament.ladder_rounds|pluralize }}</dd>
							<dt>Participants</dt>
							<dd>{{ tournament.active_tts_count }}</dd>
						</dl>
					</div>
					<ul class="nav nav-tabs">
						<li class="{% current 'tournament_details' slug=tournament.slug page='teams' %}"><a href="{% url 'tournament_details' slug=tournament.slug page='teams' %}">Teams</a></li>
						<li class="{% current 'tournament_details' slug=tournament.slug page='schedule' %}"><a href="{% url 'tournament_details' slug=tournament.slug page='schedule' %}">Schedule</a></li>
						<li class="{% current 'tournament_details' slug=tournament.slug page='results' %}"><a href="{% url 'tournament_details' slug=tournament.slug page='results' %}">Results</a></li>
						<li class="{% current 'tournament_details_fixtures' slug=tournament.slug %}"><a href="{% url 'tournament_details_fixtures' slug=tournament.slug %}">Fixtures</a></li>
						<li class="{% current 'tournament_details' slug=tournament.slug page='rules' %}"><a href="{% url 'tournament_details' slug=tournament.slug page='rules' %}">Rules</a></li>
						<li class="{% current 'tournament_details' slug=tournament.slug page='resources' %}"><a href="{% url 'tournament_details' slug=tournament.slug page='resources' %}">Resources</a></li>
						<li class="{% current 'tournament_details' slug=tournament.slug page='staff' %}"><a href="{% url 'tournament_details' slug=tournament.slug page='staff' %}">Staff</a></li>
					</ul>
					{% block tournament_content %}{% endblock %}
				</div><!--/span-->
{% endblock %}