{% extends 'tournament/tournament_details.html' %}
{% block title %}Resources &gt; {{ block.super }}{% endblock %}
{% block tournament_content %}
					<div class="row-fluid">
						<div class="span6">
							<h2>Maps</h2>
							<ul>
								{% for map in maps %}
								<li><a href="{{ map.map_file.url }}">{{ map.slug }}</a></li>
								{% empty %}
								<li>No maps found!</li>
								{% endfor %}
							</ul>
						</div>
						<div class="span6">
							<h2>Configs</h2>
							<ul>
								{% for config in tournament.configs.all %}
								<li><a href="{{ config.config_file.url }}">{{ config.slug }}</a></li>
								{% empty %}
								<li>No configs found!</li>
								{% endfor %}
							</ul>
						</div>
					</div>
{% endblock %}