{% extends 'tournament_details.html' %}
{% block title %}Players &gt; {{ block.super }}{% endblock %}
{% block bodyid %}player-list{% endblock %}
{% block content %}
				<div class="span9">
					<table class="table table-bordered">
						<thead>
							<tr>
								<th>SteamID64</th>
							</tr>
						</thead>
						<tbody>
							{% for player in players %}
							<tr>
								<td>{{ player.steamid }}</td>
							</tr>
							{% empty %}
							<tr>
								<td colspan="1">No players found!</td>
							</tr>
							{% endfor %}
					</table>
				</div><!--/span-->
{% endblock %}