{% extends 'base.html' %}
{% block title %}What is Love &gt; {{ block.super }}{% endblock %}
{% block content %}
				<div class="span9">
						<iframe width="853" height="480" src="http://www.youtube.com/embed/hmqouF1VSg0?rel=0&amp;vq=hd720&amp;autoplay=1" frameborder="0" allowfullscreen></iframe>
				</div><!--/span-->
{% endblock %}