{% extends 'base_admin.html' %}
{% block title %}Users &gt; {{ block.super }}{% endblock %}
{% block bodyid %}user-list{% endblock %}
{% load pagination_tags %}
{% block content %}
	{% autopaginate users %}
				<div class="span9">
					{% paginate %}
					<table class="table table-bordered">
						<thead>
							<tr>
								<th>ID</th>
								<th>Username</th>
								<th>E-mail address</th>
								<th>Actions</th>
							</tr>
						</thead>
						<tbody>
							{% for auser in users %}
							<tr>
								<td>{{ auser.id }}</td>
								<td><a href="{{ auser.get_absolute_url }}">{{ auser }}</a>{% if auser.is_staff %} <span class="label label-{{ auser.is_hero|yesno:'important,info' }}">Staff</span>{% endif %}</td>
								<td>{{ auser.email|default:'-' }}</td>
								<td><div class="btn-group"><a class="btn btn-mini" href="{{ auser.profile_url }}"><i class="icon-arrow-right"></i></a><a class="btn btn-mini" rel="tooltip" title="Requires an open Steam window" href="steam://friends/add/{{ auser.steamid }}"><i class="icon-user"></i></a><a{% if auser.level < request.user.level or auser == request.user %} href="{% url 'user_edit' auser.steamid %}"{% endif %} class="btn btn-mini{% if auser.level >= request.user.level and auser != request.user %} disabled{% endif %}"><i class="icon-edit"></i></a> <a href="{% url 'user_ban' auser.steamid %}" class="btn btn-mini btn-danger">{% if auser.is_active %}B{% else %}UB{% endif %}</a></div></td>
							</tr>
							{% empty %}
							<tr>
								<td colspan="6">No users found!</td>
							</tr>
							{% endfor %}
					</table>
					{% paginate %}
				</div><!--/span-->
{% endblock %}