{% extends 'steamauth/user_list.html' %}
{# Sorry for the badge, I couldn't hold myself. :c #}
{% block title %}{{ auser }} &gt; {{ block.super }}{% endblock %}
{% block content %}
				<div class="span9">
					<div class="row-fluid">
						<div class="page-header">
							<span class="pull-right"><div class="btn-group">{% if user.is_authenticated %}<a class="btn" rel="tooltip" title="Requires an open Steam window" href="steam://friends/add/{{ auser.steamid }}">Add on Steam</a>{% endif %}{% if user.is_staff %}{% if request.user.level > auser.level or auser == request.user %}<a href="{% url 'user_edit' auser.steamid %}" class="btn">Edit this user</a> <a href="{% url 'user_ban' auser.steamid %}" class="btn btn-danger">{% if auser.is_active %}Ban{% else %}Unban{% endif %} user</a>{% endif %}{% endif %}</div></span>
							<h1><img src="{{ auser.avatar }}" /> {{ auser }}<small>{% if auser.is_staff %} <span class="label label-{{ auser.is_hero|yesno:'important,info' }}">Staff</span>{% endif %}{% if not auser.is_active %} <span class="label label-important">Suspended</span>{% endif %}{% if auser.steamid == 76561198003060464 %} <span class="label label-success">I made this!</span>{% endif %}</small></h1>
						</div>
						<dl class="dl-horizontal">
							{% if auser.profile_url %}
							<dt>Vanity URL</dt>
							<dd><a href="{{ auser.profile_url }}">{{ auser.profile_url }}</a></dd>
							{% endif %}
							<dt>SteamID64</dt>
							<dd>{{ auser.steamid }}</dd>
							<dt>SteamID32</dt>
							<dd>{{ auser.steamid32 }}</dd>
							<dt>Teams</dt>
							<dd>{% for team in auser.teams.all %}<a href="{{ team.get_absolute_url }}">{{ team }}</a> {% empty %}Not associated with any team{% endfor %}</dd>
						</dl>
					</div>
				</div><!--/span-->
{% endblock %}