/* 
bright red - rgb(191, 44, 71) - #bf2c47
beige - rgb(191, 157, 126) - #bf9d7e
light yellow - rgb(242, 238, 172) - #f2eeac
light blue - rgb(86, 130, 140) - #56828c
dark blue - rgb(21, 18, 38) - #151226
*/


body {
	padding-top: 60px;
	padding-bottom: 40px;
}

.sidebar-nav {
	padding: 9px 0;
}

#openid {
	position: relative;
	top: -1px;
}

.navbar-form {
	position: relative;
	top: 2px;
}

.avatar-small {
	width: 24px;
}

.navbar .brand {
	display: block;
	width: 78px;
	height: 24px;
	background-repeat: no-repeat;
	background-position: 3px -24px, -3px 0px;
	background-size: 112px, 119px;

	background-image: url("../img/minipan.png");
	background-image: url("../img/minipan.png"), -webkit-radial-gradient(circle, #bbb, transparent);
}

.navbar .brand:hover {
	background-image: url("../img/minipan.png");
	background-image: url("../img/minipan.png"), -webkit-radial-gradient(circle, #fff, transparent);
}

body#home .our-hero-unit {
	/*background-image: url("../img/pan.png");
	background-repeat: no-repeat;
	background-position: right;*/
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	margin-bottom: 30px;
	padding: 0;
	overflow: hidden;
	width: 100%;
	position: relative;
}

body#home .our-hero-unit img {
	line-height: 1;
	display: block;
}

body#home .our-hero-unit .caption {
	width: 97%;
	position: absolute;
	padding: 10px 20px;
	bottom: 20px;
	color: #fff;
	background-color: rgba(0, 0, 0, 0.6);
	border-top: #fff 1px solid;
	border-bottom: #fff 2px solid;
}

body#home .our-hero-unit .caption:hover {
	background-color: rgba(0, 0, 0, 0.7);
}

body#home .our-hero-unit .caption p {
	line-height: 20px;
}

.table-fixed {
	table-layout: fixed;
}

.table-fixed .column10 {
	width: 10%;
}
.table-fixed .column20 {
	width: 20%;
}
.table-fixed .column30 {
	width: 30%;
}
.table-fixed .column40 {
	width: 40%;
}
.table-fixed .column50 {
	width: 50%;
}

#sidebar {
	min-height: 300px;
}

textarea {
	min-width: 50%;
}

.notifybox {
	margin-top: 5px;
}

body#match-details .modal .modal-body,
body#match-cast-list .modal .modal-body {
	background-color: #000;
	text-align: center;
	padding: 5px 0 0 0;
}

body#match-details .modal .modal-footer .lead,
body#match-cast-list .modal .modal-footer .lead {
	margin-bottom: 0;
}

body#match-details .thumbnails img,
body#match-cast-list .thumbnails img {
	width: 400px;
}

#indicator {
	position: absolute;
	z-index: 1040;
	width: 100px;
	top: 7px;
	padding: 5px 10px;
	left: 50%;
	margin-left: -60px;
	background-color: #fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	text-align: center;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	border: 1px solid #e3e3e3;
}

.div {
	padding: 5px;
}

.choice-header {
	background-color: #f5f5f5;
}

.choice:hover .muted {
	color: #ccc;
}
