	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">×</button>
		<h3><a href="{{ result.tt.team.get_absolute_url }}">{{ result.tt.team }}</a>{% if match.status != match.STATUS_BYE %} vs <a href="{{ result.opponent.get_absolute_url }}">{{ result.opponent }}</a>{% else %}, bye{% endif %} <small>on {{ match.round.played_map }}, casted by {{ cast.created_by }}</small></h3>
	</div>
	<div class="modal-body">
		{{ cast.get_embedly|safe }}
	</div>
	<div class="modal-footer">
		<div class="lead pull-left">
			{{ cast.title }}
		</div>
		<div class="btn-group">
			<a href="{{ cast.url }}" class="btn">Source</a>
			<a href="{{ cast.match.get_absolute_url }}" class="btn">Match page</a>
		</div>
	</div>